body{
       margin: 0;
       padding: 0;
       font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
       max-width: 600px;
       margin: 0 auto;
       
}
#title{
       font-size: 40px;
       text-align: center;
}
#timer{
       font-size: 3rem;
       text-align: center;
}
button{
       font-size: 2rem;
       margin: 10px;
       padding: 30px;
       border-radius: 10px;
       transition: opacity 0.3 ease-in-out;
     
}
#btn-container{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
}
button:hover{
       opacity: 0.8;
}
#start{
       background-color: aquamarine;
       color: black;
}
#stop{
       background-color: blue;
       color: white;
}
#reset{
       background-color: blueviolet;
       color: black;
}