body{
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
       padding: 30px;
       height: 100vh;
       display: flex;
       justify-content: center;
       align-items: center;
}
img{
       width: 100px;
}
 h1 {
       font-size: 20px;
      color: #41b3a3;
      
      text-align: center;
    }
    .container{
       max-width: 400px;
       margin: auto;
    }
    select, input{
       padding: 10px;
       font-size: 18px;
       margin: 10px;
    }
    .swap-btn{
       padding: 10px 20px;
       background-color: #41b3a3;
       color: #fff;
       border: none;
       cursor: pointer;
       margin: 10px;
       border-radius: 5px;
    }
  